.category {
	height: 100%;
	margin-bottom: 10%;
	margin: 0 auto;
	width: 1200px;
}
.category-name {
	font-size: 1.875rem;
	color: #8bc34a;
}
.category-name_position {
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
}
.list-product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list-product-item {
	width: 16.75rem;
	margin-bottom: 3.75rem;
	border: 1px solid #c6c6c5;
	border-radius: 0.3rem
}
.product-card {
	width: 100%;
	height: 12.25rem;
	background-size: cover;
}
.list-product-item-footer {
	display: flex;
	max-width: 100%;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	align-items: center;
	padding-top: 1.085rem;
	padding-bottom: 1.085rem;
	border-top: 1px solid #c6c6c5;
}
.list-product-item-left {
	width: 10.5rem;
}
.product-card-firstname {
	font-size: 0.875rem;
	font-weight: 600;
	color: #878786;
}
.product-card-lastname {
	font-size: 0.875rem;
	font-weight: 600;
	color: #1c1c1b;
}
.product-card-price {
	font-size: 1rem;
	font-weight: 600;
	color: #8bc34a;
}
.show-product {
	width: 12px;
	height: 20px;
	background: url(../src/svg/combined.svg);
}

#cube-loader {
	align-items: center;
	display: flex;
	height: 50%;
	width: 100%;
	position: fixed;
}

#cube-loader .caption {
	margin: 0 auto;
}

#cube-loader .cube-loader {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
}

#cube-loader .cube-loader .cube {
	position: relative;
	transform: rotateZ(45deg);
	width: 50%;
	height: 50%;
	float: left;
	transform: scale(1.1);
}

#cube-loader .cube-loader .cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #8bc34a;
	animation: cube-loader 2.76s infinite linear both;
	transform-origin: 100% 100%;
}

#cube-loader .cube-loader .loader-2 {
	transform: scale(1.1) rotateZ(90deg);
}

#cube-loader .cube-loader .loader-3 {
	transform: scale(1.1) rotateZ(180deg);
}

#cube-loader .cube-loader .loader-4 {
	transform: scale(1.1) rotateZ(270deg);
}

#cube-loader .cube-loader .loader-2:before {
	animation-delay: 0.35s;
}

#cube-loader .cube-loader .loader-3:before {
	animation-delay: 0.69s;
}

#cube-loader .cube-loader .loader-4:before {
	animation-delay: 1.04s;
}

@keyframes cube-loader {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}

	25%, 75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}

	90%, 100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}